body, html {
    height: 100%;
    background-image: url(./Assets/Images/abst_background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
#m-avatar{
    margin-top: 80px;
}
#m-name, #m-title{
    text-align: center;
}
.home-section {
    padding-left: 110px;
    padding-top: 130px;
    text-shadow: 1px 1px 2px rgba(0,0,0,.6);
    font-size: 12px;
}
.home-section .home-heading {
    font-size: 4em;
    font-weight: 500;
}
.home-section .home-subheading {
    font-size: 2.5em;
    font-weight: 200;
    text-transform: none;
}
.m-links{
    margin-top: 2.15em;
    font-size: 1em;
    text-decoration: underline;
    animation-name: fadein;

}
img{
    height: auto;
    width: auto;
}
/* Portfolio CSS */
.portfolio-section{
    padding-left: 110px;
    padding-top: 100px;
}